* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nyt-franklin', Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
}
a{
  color: black;
}
main{
  width: 1170px;
  margin: 0 auto;
}
img {
  width: 100%;
}

/* WORKING ON HEADER */

.header-navbar {
  box-shadow: 0 1px 2px -1px gray;
  background-color: white;
  height: 42px;
  width: 100%;
  padding: 4px 15px 2px;
  cursor: default;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
}

.icon {
  height: 33px;
  width: 34px;
  padding: 9px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: ease 0.6s;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
  margin-right: 8px;
}
.icon:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.icon svg {
  width: 16px;
}
.menu-div,.search-div, .nav-link {
  float: left;
}
.nav-link {
  margin: 7px 0 5px 0
}
.nav-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  font-size: 14px;
}
.main-logo{
  height: 27px;
  display: inline-block;
  margin-top: 7px;
  cursor: pointer;
  padding: 6px auto 0;
}
.main-logo svg {
  height: 100%;
}

/* BUTTONS */
.btns{
  float: right
}
.btn {
  text-transform: uppercase;
  color: white;
  background-color: #567b95;
  outline: none;
  border: 1px solid #326891;
font-size: 12px;
font-weight: bold;
padding: 9px 7px 7px 7px;
border-radius: 3px;
margin-left: 5px;
transition: ease 0.6s;
cursor: pointer;
}
.btn:hover{
  background-color: #326891;
  border:1px solid #326891;
}

/*  WORKING ON SECTION-HEADER */

.section-header{
  margin-top: 42px;
  min-width: 490px;
  max-width: 1349px;
}
.main-title {
  font-size: 40px;
}
.first-photo{
  max-width: 945px;
  min-width: 500px;
  margin: 20px auto 40px auto;
}
.first-photo img {
  width: 100%;
  margin-bottom: 10px;
}
.first-photo figcaption {
  min-width: 30%;
  max-width: 75%;
}

/* WORKING ON ICONS */
.icons svg{
  border: 1px solid white;
  background-color: #eee;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.icons svg:hover{
  border: 1px solid #eee;
  border-radius: 100%;
  background-color: transparent;
}
.send, .share{
  border:none;
  background: transparent;
  outline: none;
}

.share {
  cursor: pointer;
}
.share:hover #share-stroke {
  stroke: #eee;
}

/* WORKING ON DIV-CONTAINER */
.section-grid{
  margin-right: 90px;
  margin-left: 270px;
  display: grid;
  grid-template-columns: 1fr 210px;
}

.main-section-header-date-n-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* WORKING ON THEORY SECTION */

  .theory-txt1 {
    display: flex;
    position: relative;
    bottom: 490px;
    left: 100px;
    width: 1000px;
  }
  .theory-txt2 {
    display: flex;
    position: relative;
    bottom: 300px;
    left: 100px;
    width: 1000px;
  }
  .theory-txt1 p, .theory-txt2 p {
    width: 230px;
    margin-right: 16px;
  }

  .theory-bar {
    margin-top: -265px;
    margin-left: 30px;
    width: 100px;
    border: 0.5px solid black;
  }

  /* footer 2nd section */
  .footer-last-section {
    margin: 30px 0 30px 0;

  }
  .footer-last-section-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .footer-btn {
    width: 330px;
  }
/* WORKING ON SIDEBAR */
.sidebar{
}

/* WORKING ON PRE-FOOTER SECTION */
.last-grid{
  display: grid;
  grid-template-columns: 1fr 315px;
}

.more-space {
  display: flex;
  flex-wrap: wrap;
}
.more-divs {
  flex: 1 1 270px;
  margin: 5px;
  width: 270px;
}
.more-divs img, .more-divs p{
  max-width: 270px;
}
.more-divs h3 {
  max-width: 262px;
}

.popular-sidebar{
  margin-left: 30px;
}
.last-section h2 {
  padding-top: 17px;
  border-top: 1px solid black;
}
.popular-sidebar a{
  display: block;
}
/* TESTS */
