* {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  margin: 0 auto;
  width: 80%;
}

.top-header {
  width: 100%;
}

.standard-section {
  max-width: 600px;
  min-width: 300px;
  margin: 30px auto;
  font-family: "nyt-imperial", "Times New Roman", Times, serif;
  font-size: 20px;
}

.navbar {
  position: fixed;
  height: 43px;
  width: 100%;
  background-color: #fff;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
}

.nav-left {
  display: flex;
  position: absolute;
  padding-top: 10px;
  color: #000;
}

#search {
  height: 100%;
  width: 30px;
  display: flex;
  margin-right: 12px;
}

.nav-left i {
  width: 10%;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
}

.nav-left a {
  font-size: 12.5px;
  display: inline-block;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  width: 200px;
}

.nav-middle {
  display: inline-block;
  width: 195px;
  height: 25.64px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  left: 0;
  right: 0;
}

.nav-right {
  margin-right: 30px;
  position: absolute;
  right: 0;
  padding-top: 4px;
}

.nav-right button {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  height: 32px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 4px;
}
/* WORKING ON MAIN > SECTION */
h1 {
  margin-top: 50px;
  width: 350px;
  margin-left: 300px;
  display: inline-block;
}

.main-header {
  width: 945px;
  margin: 0 auto;
}
.main-header figcaption {
  width: 720px;
}

.header-img {
  min-width: 600px;
  max-width: 1004px;
  cursor: pointer;
}

.author-name {
  margin: 30px 0;
}

.date-and-icons {
  display: flex;
  height: 28px;
  align-items: center;
  justify-content: space-between;
}

.icons,
.date-and-icons-right {
  display: flex;
  align-items: center;
}
.icons li {
  width: 100%;
  height: 21px;
  padding: 10px 0;
  margin-right: 16px;
}

.icons li svg {
  border: 1px solid white;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}
.icons li svg:hover {
  background-color: white;
  border: 1px solid #999;
}

.btn-share,
button {
  border: none;
  background: none;
  cursor: pointer;
}
.header-buttons {
  margin-right: 16px;
}
/* Side-recommended news */
.side-Recomended-news {
  width: 210px;
}
.section-grid  {
  grid-template-columns: 1fr 210px;
  display: grid;
  max-width: 810px;
  min-width: 510px;
}

/* WORKING ON SECTIONS > P */

section p {
  margin-bottom: 15px;
}

/* WORKING ON FIGURE TWO */
.theory-section {
  width: 945px;
  margin: 0 auto;
}
.theory-section figure figcaption {
  font-size: 10px;
  line-height: 17px;
  position: relative;
}
.row-one {
  display: flex;
}
.figure-two img {
  height: auto;
  width: 100%;
}
.figure-two figcaption {
  position: relative;
  width: 210px;
  height: 114px;
}

[class^="figc"] {
  top: -440px;
}
.figc2 {
  left: 40px;
}
.figc3 {
  left: 70px;
}
.figc4 {
  left: 100px;
}
.row-two {
  display: flex;
}
[class^="row2-figc"] {
  top: -270px;
}
.row2-figc2 {
  left: 40px;
}
.row2-figc3 {
  left: 60px;
}
.row2-figc4 {
  left: 100px;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
  font-family: "Libre Franklin", helvetica, arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  height: 32px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 4px;
}

/**
    RECOMMENDATIONS SECTION
 */

.recommended-from-same-category,
.recommended-for-you {
  border-top: 1px solid black;
  width: 63%;
  margin-bottom: 50px;
}

.recommended-news-header {
  margin-top: 10px;
}

.recommended-news-header h2 {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}

.recommended-news-header a,
.footer-header .link {
  float: right;
  margin-top: 2px;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
}

.recommended-from-same-category .top-news,
.recommended-from-same-category .bottom-news,
.recommended-for-you .top-news {
  margin-top: 25px;
}

.top-news .news,
.bottom-news .news {
  display: inline-block;
  margin-right: 10px;
  width: 31%;
  vertical-align: top;
}
.recommended-news h2 {
  font-size: 17px;
  font-weight: bold;
}

.recommended-news aside {
  border-top: 1px solid black;
  padding-top: 10px;
  float: right;
  width: 32%;
  cursor: pointer;
}

.recommended-news aside h2 {
  font-size: 0.6875rem;
  font-weight: bold;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  margin-bottom: 15px;
}

.recommended-news aside ol {
  list-style: decimal;
  padding-left: 20px;
}

.recommended-news aside ol li {
  margin-bottom: 15px;
  padding: 0 0 10px 15px;
  border-bottom: 1px solid #cccccc;
}

.recommended-news aside ol li a {
  color: black;
  font-family:nyt-cheltenham, georgia, "times new roman", times, serif;
  text-decoration: none;
  font-weight: 500px;
}

/**
     FOOTER SECTION
  */

footer {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-top: 1px double #cccccc;
  border-bottom: 1px double #cccccc;
  padding-top: 10px;
  padding-bottom: 35px;
}

.footer-header {
  margin-bottom: 15px;
  height: 50px;
  font-size: 10px;
}

.footer-column-header {
  margin-bottom: 14px;
  font-size: 0.9rem;
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #333;
}

.footer-column {
  width: 16%;
  display: inline-block;
  vertical-align: top;
  font-size: 0.875rem;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000;
}

.footer-column ul li a:hover {
  text-decoration: underline;
  cursor: hand;
}

.subscribe-footer-column li {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.subscribe2-footer-column {
  font-size: 0.75rem;
}

.subscribe2-footer-column li:nth-child(5) {
  border-bottom: 1px solid #999;
  padding-bottom: 5px;
}

.after-footer {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 5px;
}

.after-footer ul {
  display: inline-block;
  vertical-align: top;
}

.after-footer ul:first-child {
  float: left;
}

.after-footer ul:last-child {
  float: right;
}

.after-footer ul li {
  display: inline;
  font-size: 0.65rem;
}

.after-footer ul li:not(:first-child) {
  padding-left: 5px;
  border-left: 1px solid #e2e2e2;
}

.after-footer ul li a {
  text-decoration: none;
  color: #999;
}

.after-footer ul li a:hover {
  text-decoration: underline;
}
